html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: ropaSans;
    src: url(RopaSans-Regular.ttf);
}

@font-face {
    font-family: asap;
    src: url(Asap-VariableFont_wdth\,wght.ttf);
}


@font-face {
    font-family: fredokaOne;
    src: url(FredokaOne-Regular.ttf);
}

@font-face {
    font-family: gelasio;
    src: url(Gelasio-Regular.ttf);
}

@font-face {
    font-family: spaceMono;
    src: url(SpaceMono-Regular.ttf);
}

@font-face {
    font-family: spectralSC;
    src: url(SpectralSC-Regular.ttf);
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* Add a dark background color to the page */
body {
    background-color: #333;
}

/* Style the header and make it sticky */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #222;
    padding: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
}

/* Style the shortcuts in the header */
header a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

a {
    text-decoration: none;
}


section a {
    font-size: 3rem;
    color: gold;
    font-weight: bolder;
    transition: all 0.1s;
    text-shadow: 0.5rem 0.1rem 1rem black;
}

section a:hover {
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    text-shadow: 0.5rem 0.1rem 1rem black;
}



/* Style the main sections of the page */
main {
    padding: 20px;
    margin-top: 10%;
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


section {
    border-bottom: 1rem solid #555;
    box-shadow: 0.5rem 0.5rem 1rem black;
    /* Add a border to the bottom of each section */
    padding: 20px;
    background-color: #444;
    color: #fff;
    margin-top: 10%;
    animation: slideIn 0.8s ease-in-out;
    border-radius: 0.5rem;
    font-family: asap;
    text-align: center;
    transition: all 0.5s ease-in-out;
    height: 20%;
}


section:target {
    opacity: 1;
}







header nav a {
    padding: 10px 20px;
    /* Add some padding to the top, right, bottom, and left sides of the a elements */
    font-size: 2rem;
    /* Increase the font size of the shortcuts */
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-family: ropaSans;
    position: relative;
}

header nav a:before {
    content: "";
    /* Insert an empty element before the shortcut */
    position: absolute;
    /* Make the inserted element an absolute position element */
    bottom: 0;
    /* Position the element at the bottom of the shortcut */
    left: 0;
    /* Position the element at the left of the shortcut */
    right: 0;
    /* Position the element at the right of the shortcut */
    height: 2px;
    /* Set the height of the element to 2 pixels */
    background-color: #fff;
    /* Set the background color of the element to white */
    opacity: 0;
    /* Initially hide the element */
    transition: all 0.3s ease-in-out;
    /* Add a smooth transition to the element */
}

header nav a:hover:before {
    opacity: 1;
    /* Show the element when the mouse is over the shortcut */
    width: 100%;
    /* Make the element take up the full width of the shortcut */
}

section#contact form {
    display: flex;
    /* Use flexbox to position the form fields side by side */
    flex-wrap: wrap;
    /* Wrap the form fields to the next line on small screens */
    padding: 20px;
    background-color: #222;
}

section#contact form label {
    width: 200px;
    /* Set the width of the form labels */
    font-size: 1rem;
    margin-bottom: 10px;
    /* Add some space between the label and the input field */
}

section#contact form input,
section#contact form textarea {
    width: 100%;
    /* Make the input and textarea fields take up the full width of the form */
    padding: 10px;
    font-size: 2rem;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

#headertext {
    display: flex;
    flex-direction: row;
    font-family: gelasio;
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    text-shadow: 0.4rem 0.4rem black;
    margin: 0;
    padding: 0;
    animation: slideIn 1.4s ease-in-out;
    justify-content: flex-start;
    padding: 5rem;
}

#intro {
    animation: slideIn 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-width: 2rem;
    max-width: 3rem;
    width: 100%;
}

#headertext {
    display: flex;
    flex-direction: row;
    padding: 0;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 6rem;
    font-weight: lighter;
}

input[value=send] {
    background-color: pink;
    opacity: 0;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    display: flex;
    font-family: gelasio;
    color: white;
    text-align: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    filter: invert(100%);
}



#name {
    color: white;
    font-family: spectralSC;
}

#shortcuts {
    display: flex;
    align-items: center;
}

#logoname {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    user-select: none;
}

#logoname:hover {
    cursor: pointer;
}

#askill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

}

#skillsbox,
#skillsboxlearning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#social {
    display: flex;
    flex-direction: row;
}

#progress-bar {
    position: fixed;
    width: 0%;
    height: 1rem;
    background-color: greenyellow;
    margin: 0;
    padding: 0;
    overflow: hidden;
    left: 0;
    align-self: flex-end;
}

#rotating-text {
    display: inline-block;
    font-size: 4rem;
    animation: fade-in-out 4000ms infinite;
    animation-fill-mode: both;
}

#teedee {
    transition: transform 0.3s;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#teedee:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.1) translateZ(-1px);
}


@keyframes rotate {
    from {
        transform: rotate(90deg);
        opacity: 0;
    }

    to {
        transform: rotate(0deg);
        opacity: 1;
    }

    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}





#contact h2 {
    font-size: 3rem;
}

#contact {
    font-size: 2rem;
}

#skills {
    font-size: 2rem;
}

#skills h2 {
    font-size: 3rem;
}

#upbutton {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 1rem;

}

img {
    user-select: none;
}


#paragraphaboutme {
    text-align: left;
    flex: 1;
    margin-right: 2rem;
}

#paragraphaboutme h2 {
    font-size: 3rem;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    font-size: 2rem;
    align-items: center;
}

section#about img {
    width: 30rem;
}

#keith {
    text-shadow: 1rem 0.1rem #00270a;
    animation: rotate 1.3s linear;
    /* Add a perspective to make the rotation more realistic */
    font-size: 10rem;
    margin-left: 20%;
}


#aproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.project {
    box-shadow: 1rem 1rem black;
    border: 0.3rem solid grey;
}

#projectcollection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#projects {
    flex-direction: column;

}

#aproject img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    border: 2px solid yellow;
    transform-origin: center;

}

#aproject img {
    box-sizing: border-box;
    transition: transform 0.1s;
}

#projects h2 {
    font-size: 3rem;
}


#me {
    border-radius: 40%;
    width: 1rem;
    box-shadow: 1rem 1rem 0.5rem black;
}

#etchasketch {
    display: flex;
    text-align: left;
}

#etchasketch #paragraph {
    flex: 1;
    font-size: 1.5rem;
}

#etchasketch h2 {
    font-size: 3rem;
}

#etchasketch h3 {
    font-size: 2rem;
}

#mobiledropdown {
    visibility: hidden;
}


.dropdown-menu {
    /* Other styles... */
    transition: height 0.5s ease;
    position: absolute;
    bottom: 0;
    right: 0;
  }

.menu-container {
    position:relative;
    color: pink;
    z-index: 2;
    background-color: blue;

}

.dropdown-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    /* Other styles... */
  }




/* Make the page responsive for different screen sizes and devices */
@media only screen and (max-width: 600px) {
    /* Make the sections take up the full width of the page on small screens */

    #social {
        display: none;
    }

    #etchasketch {
        flex-direction: column;
    }


    #intro {
        flex-direction: column;
    }

    #headertext,
    #keith {
        font-size: 2rem;
    }

    section {
        flex-direction: column;
        text-align: center;
        font-size: 1rem;
    }

    #about {
        font-size: 20px;
    }

    header {
        position: fixed;
    }

    #subheadertext {
        font-family: spectralSC;
        color: white;
        font-size: 1rem;
        text-shadow: none;
    }

    #shortcuts {
        display: none;
    }

    #dropdown {
        background-color: black;
        z-index: 0;
        text-align: left;
        margin-top: 20px;
        width: 100%;
        position: fixed;
        left: 0;
    }
    #dropdown ul {
        list-style-type: none;
        font-family: asap;
        text-align: center;
        margin: 0;
        padding: 0;
        justify-content: center;
        color: white;
    }
    #dropdown li {
        border-bottom: 0.1px solid white;
        border-radius: 2%;
    }
}



